#map { 
    height: 500px;
    width: 50%;
 }

 body {
    display: flex;
    flex-direction: row;
 }

 .all_people {
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 1px solid #ccc;
 }
 .people {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
 }
@media (max-width: 1000px) {
   body {
      display: flex;
      flex-direction: column;
      overflow: hidden;
  }
    #map { 
        height: 300px;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .all_people {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
    }
    .people {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
    }
   }