#map { 
    height: 500px;
    width: 50%;
 }

 body {
    display: flex;
    flex-direction: row;
 }

 .all_people {
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 1px solid #ccc;
 }
 .people {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
 }
@media (max-width: 1000px) {
    #map { 
        height: 300px;
        width: 100%;
        position: fixed;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .all_people {
        display: flex;
        flex: auto;
        flex-direction: column;
        border: 1px solid #ccc;
        overflow-y: scroll;
    }
    .people {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
    }
   }